.faq
  %h1 F.A.Q
  %h2 What sources does Worth Watching use?
  %p
    Currently, rating information is aggregated from Rotten Tomatoes, IMDb and Metacritic.
  %h2 Why are some ratings slightly different on Worth Watching than [rating source] ?
  %p
    Rating info is retrieved weekly, so the rating info for new films that have just been released may be slightly out of date.
