!!!
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Worth Watching
    %link{:rel => 'stylesheet', :href => '/css/normalize.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/style.css', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
    %link{href:"http://fonts.googleapis.com/css?family=Lato:300,400", rel:"stylesheet", type:"text/css"}
  %body
    %header
      %a{href: '/'}
        %img.header-logo{src: "/img/logo.png"}
      %p.description
        Movie ratings from <a href="faq">different sources</a>, in one place.
    .main
      = yield
    %footer
      %img.footer-logo{src: '/img/popcorn-logo@2x.png'}
      %p.footer-info
        A project by <a href="http://github.com/alssndro">alessndro</a>, powered by <a href="http://github.com/alssndro/worth_watching">worth_watching</a>.
      %p.footer-info
        <a href="http://github.com/alssndro/worth_watching_web">View on Github</a>
    %script{:type => 'text/javascript', :src => '/js/isotope.pkgd.min.js'}
    %script{:type => 'text/javascript', :src => '/js/imagesloaded.pkgd.min.js'}
    %script{:type => 'text/javascript', :src => '/js/app.js'}
